@model WebApp.ViewModels.TodoFilterViewModel

<form method="get" asp-action="Index">
    <div class="container row">

        <div class="form-group col-sm-3">
            <label asp-for="SearchKeyword">Search:</label>
            <input asp-for="SearchKeyword"
                   type="text"
                   name="SearchKeyword"
                   value="@Model.SearchKeyword"
                   class="form-control"
                   placeholder="Search by title or description" />
        </div>
        <div class="form-group col-sm-3">
            <label asp-for="StatusFilter">Status:</label><br />
            <select name="StatusFilter" class="Form-control">
                <option value="">All</option>
                @foreach (var status in Enum.GetValues(typeof(Domain.Status)))
                {
                    <option value="@status" selected="@(Model.StatusFilter == status.ToString())">@status</option>
                }
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label asp-for="SortBy">Sort by:</label>
            <select asp-for="SortBy" name="SortBy" class="form-control">
                <option value="Title" selected="@(Model.SortBy != "DueDate" || Model.SortBy != "Status")">Title</option>
                <option value="DueDate" selected="@(Model.SortBy == "DueDate")">Due Date</option>
                <option value="Status" selected="@(Model.SortBy == "Status")">Status</option>
            </select>
        </div>
        <div class="col-sm-3">

            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </div>

</form>